* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.switch {
  position: relative;
  min-width: 60px;
  height: 34px;
  background-color: #ccc;
  border: none;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
  white-space: nowrap;
  padding-left: 42px;
  padding-right: 16px;
  color: black;

  &[data-state="checked"] {
    padding-left: 16px;
    padding-right: 42px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
  }

  &:focus {
    outline: 2px solid #00c3ff;
  }
}

.switch-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s ease;

  &[data-state="checked"] {
    left: calc(100% - 32px);
  }
}
